

.html{
  scroll-behavior: smooth;
  
}
/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  position: relative;
  
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


/*--slider ki css--*/
#wholeSlider {
  margin: 0px 100px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  
  margin-top: -440px;
}

@media (max-width: 1100px) {
  #wholeSlider {
    margin: 0 0;
    width: 100%;
    height: auto;
    margin:auto;

    
  }
  .loginp{
    margin:0 auto;
  }
}
@media (max-width: 860px) {
  #wholeSlider {
    margin: 0 auto;
    width: 100vw;
    height: auto;
    
    
  }
}
/*--slider ki css--*/
/*--form ki css---*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header .header {
  background-color: #fff;
  height: 45px;
}
header a img {
  width: 134px;
  margin-top: 4px;
}
.login-page {
  width: 450px;
  padding: 3% 0 0;
  margin-left: auto;
  margin-right: 100px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.loginsignup-page {
  width: 430px;
  padding: 3% 0 0;
  margin:auto;
  color:red;
 
}

#myformheadertextl {
  color:red;
  font-size: 1.8rem;
  

}
#myformheadertext1l {
  color:black;
  font-size: 1rem;
  
}
.login-page .form .login {
  margin-top: -31px;
  margin-bottom: 20px;
  
}
.loginsignup-page .form .login {
  margin-top: -31px;
  margin-bottom: 20px;
  
}


.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 450px;
  margin: 0 auto 82px;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 20px;
  text-align: center;
}
.form input:focus{
     border: 2px solid rgba(0, 0, 0, 0.18) !important;

}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg, #b95ce4, #4f29cd);
  width: 70%;
  border: 0;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 50px;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #a116ef;
  text-decoration: none;
}


/*--form ki css---*/


@media (min-width:1600px ){
  
.login-page{
  margin-top: -70px;
  position: relative;
  margin-left: auto;
  margin-right:230px;
  
 

}
.form{
  min-width:525px;
  padding:74px 26px;
  top:80px;
}

#wholeSlider{
  margin-top:-530px;
  margin-left: 120px;
}
.login-header{
  margin-top:-60px;
}

  
}


@media (max-width:1100px){
  
  .login-page {
  width:100vw;
  margin: 20px 0px !important;
  padding: 20px  0px !important;
  
}
  .loginsignup-page {
  width: 340px;
  padding: 3% 0 0;
  margin: auto;
  
}
.login-header{
  margin:0 2px 0 0;
}
  
}

@media screen and (max-width:2500px)
{
  #myformheadertextl {
  color:red;
  font-size: 2.2rem;
  

}
.form input{
  font-size: 1.4em;
}
#myformheadertext1l {
  color:black;
  font-size: 1.4rem;
  
}
}
@media screen and (max-width:1600px)
{
  #myformheadertextl {
  color:red;
  font-size: 1.8rem;
  

}


.form input{
  font-size: 1.1em;
}

#myformheadertext1l {
  color:black;
  font-size: 1.2rem;
  
}
}@media screen and (max-width:1200px)
{
  #myformheadertextl {
  color:red;
  font-size: 1.6rem;
  

}
.form input{
  font-size: 1.1em;
}
#myformheadertext1l {
  color:black;
  font-size: 1rem;
  
}
}@media screen and (max-width:800px)
{
  #myformheadertextl {
  color:red;
  font-size: 1.6rem;
  

}
.form input{
  font-size:0.99rem;
}
#myformheadertext1l {
  color:black;
  font-size: 1.1rem;
  
}
}
@media screen and (max-width:500px)
{
  .login-page{
    width:90vw;
    margin: 0 auto !important;
   
  }
  form input{
    font-size: 1rem;
  }
  #myformheadertextl {
  color:red;
  font-size: 1.5rem;
  

}
#myformheadertext1l {
  color:black;
  font-size: 0.8rem;
  
}
}