
.whyus {
  width: 100vw;
  position: relative;
  margin: 50px;
}

.whyus_head {
  margin: 0 auto;
  width: fit-content;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bolder;
  color: rgba(255, 0, 78, 1);
}

.whyus_body {
  width: 100vw;
  margin: 20px 0;
  display: flex;
  align-items: center;
  font-family: Montserrat;
}

.whyus_contain {
  margin-left: 10%;
}

.whyus_logo {
  border: rgba(255, 0, 78, 1) 4px solid;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 20px;
  margin: 20px;
}

.whyus_body img {
  width: 65px;
  margin: 0 auto;
}

.footer_foottext div {
  color: white;
}

.aboutus {
  width: 40vw;
}

.aboutus p {
  color: rgba(125, 125, 125, 1);
}

.whyusnew {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebf5fc;
  max-width: 100vw;

  flex-wrap: wrap;
  padding: 40px 0px;
}

.whyusnew .cardwhychooseus {
  position: relative;
  min-width: 285px;
  height: 400px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 30px;
}

.whyusnew .cardwhychooseus .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  /* background-image: linear-gradient(#ebf5fc); */
  background-color: #ebf5fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s ease-in-out;
}

.whyusnew .cardwhychooseus:hover .box {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(45deg, #b95ce4, #4f29cd);
  background-color: #b95ce4;
}

.whyusnew .cardwhychooseus .box .content {
  padding: 20px;
  text-align: center;
}

.whyusnew .cardwhychooseus .box .content img {
  position: absolute;
  top: 10px;
  right: 30px;
  opacity: 0.1;
  transition: 0.5s;
  pointer-events: none;
}

.whyusnew .cardwhychooseus:hover .box .content img {
  opacity: 0.3;
  filter: brightness(0) invert(1);
}

.whyusnew .cardwhychooseus .box .content h3 {
  font-size: 1.8em;
  color: #777;
  z-index: 1;
  transition: 0.7s;
}

.whyusnew .cardwhychooseus:hover .box .content h3,
.whyusnew .cardwhychooseus:hover .box .content p {
  color: #fff;
}

.whyusnew .cardwhychooseus .box .content p {
  font-size: 1em;
  font-weight: 300;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    height: 10px;
  }
  to {
    opacity: 1;
    height: 210px;
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
    height: 210px;
  }
  to {
    opacity: 0;
    height: 10px;
  }
}
