


.carddetails{
    background-image: linear-gradient(to right, #C504B6, #4B038E);
    opacity: 0.89;
    border-radius: 15px;
    z-index: 0;
	width:75vw;
    left:10%;
	position: relative;
	padding:5px;
    margin-top: -200px;
	animation: fadeIn ease-in-out 2s  1  forwards;
    scroll-behavior: smooth ;
    

}

@keyframes fadeIn {
	0%{
		opacity:0;
	}
	100%{
		opacity: 0.8;
	}
}


.card-header{
    color:white;
    font-size: 1.5rem;
    display:flex;
    justify-content: space-between;
}

.card-box{
    background-color: white;
    margin:5px;
    text-align: center;
    border-radius: 25px;
    height: 60px;
}

@media screen and (min-width:1400px){
    .carddetails{
        margin-top: -16rem;
    }
    .card-box{
        padding:1rem 0;
        font-size: 1rem;
        font-weight: 600;
        height: 3rem;
        
    }
}
@media screen and (min-width:1700px){
    .carddetails{
        margin-top: -19rem;
    }
    .card-box{
        padding:1rem 0;
        font-size: 1.2rem;
        height:3rem;
        font-weight: 600;
    }
}
@media screen and (max-width:1399px){
    .carddetails{
        margin-top: -16rem;
    }
    .card-body{
     
        font-size:1rem 0;
        font-weight: 500;
    }
     .card-box{

        padding: 0.4em;
        font-size: 1rem;
        height:3.4rem;
        font-weight: 600;
    }
}
@media screen and (max-width:1060px){
    .carddetails{
        margin-top: -24rem;
    }
}
@media screen and (max-width:580px){
.card-box{
    height:30px;
    font-size: 0.7rem;
}
.carddetails{
    margin-top: -27rem;
}
}
